@model Pizza

@{
}

<div class="container">
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <h4 class="card-title">@Model.Name</h4>
          <p class="card-text">@Model.Description</p>
          <div class="d-flex justify-content-end align-items-center">
            <small class="text-muted">@Model.Price.ToString("C")</small>
          </div>
        </div>
      </div>
    </div>
</div>